<section class="welcome_area p_120">
    <div class="container">
        <div class="row welcome_inner">
            <div class="col-lg-6">
                <div class="welcome_text">
                    <h4>Who I am</h4>
                    <p>
                        I'm a .NET Developer with more than 4 years of relevant experience developing web and mobile apps with .NET and Java/Kotlin.
                        I've worked on projects of different difficulties and teams of different sizes.
                        Notable mentions are <a href="https://ums.calebuniversity.edu.ng">Caleb University's portal</a> and <a href="https://epinmart.com">ePin Mart.</a>
                    </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-users"></i>
                                <h4>461,328</h4>
                                <p>Total Project Impact</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="wel_item">
                                <i class="lnr lnr-book"></i>
                                <h4>6</h4>
                                <p>Projects in Production</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="tools_expert">
                    <h3>Skills</h3>
                    <div class="skill_main">
                        <div class="skill_item">
                            <h4>C# <span class="counter">88</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="88"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>ASP.NET Core <span class="counter">90</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="90"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Android <span class="counter">95</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="95"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>JavaScript <span class="counter">71</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="71"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                        <div class="skill_item">
                            <h4>Azure DevOps <span class="counter">75</span>%</h4>
                            <div class="progress">
                                <div class="progress-bar"
                                     role="progressbar"
                                     aria-valuenow="75"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>