<div class="col-lg-2">
    <aside class="f_widget social_widget">
        <div class="f_title">
            <h3>Follow Me</h3>
        </div>
        <p>Let us be social</p>
        <ul class="list">
            <li>
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-dribbble"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-behance"></i>
                </a>
            </li>
        </ul>
    </aside>
</div>