<!--================Footer Area =================-->
<template>
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-5 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>About Me</h3>
                        </div>
                        <p>
                            I am a passionate .NET backend software developer. I have basic knowledge of HTML and other frontend tech, enough to allow me to use templates or integrate the work of frontend devs.
                        </p>
                        <p>
                            I have 4+ years of experience developing and maintaining web and mobile apps and working on projects of various sizes.
                        </p>
                    </aside>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <h3 class="text-center col-sm-12">I am staa99.</h3>
                </div>
                <div class="col-lg-2">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Follow Me</h3>
                        </div>
                        <p>Let us be social</p>
                        <ul class="list">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-behance"></i>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
</template>
<!--================End Footer Area =================-->