<section class="projects_area p_120"  id="portfolio">
    <div class="container">
        <div class="main_title">
            <h2>My recent work</h2>
            <p>Projects I recently worked on, as a team member and as an freelance developer.</p>
        </div>
        <div class="projects_fillter">
            <ul class="filter list">
                <li class="active"
                    data-filter="*">
                    <a href="#">All Categories</a>
                </li>
                <li data-filter=".education">
                    <a href="#">Education</a>
                </li>
                <li data-filter=".research">
                    <a href="#">Research</a>
                </li>
                <li data-filter=".ecommerce">
                    <a href="#">e-Commerce</a>
                </li>
                <li data-filter=".game">
                    <a href="#">Casuals</a>
                </li>
            </ul>
        </div>
        <div class="projects_inner row">
            <div class="col-lg-4 col-sm-6 education ecommerce">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="../portfolio-details.html">
                            <h4>ePin Mart</h4>
                        </a>
                        <p>
                            Now one of the best selling sites for WAEC, NECO and NABTEB result checker pins.
                            <br/>
                            <a href="https://epinmart.com">Buy and Sell result checker pins online.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 ecommerce">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>Connect Network Services</h4>
                        </a>
                        <p>
                            One of the cheapest online data sellers
                            <br />
                            <a href="https://connectnetworkservices.net">Buy data for the lowest prices online.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 research">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>ODK Collect</h4>
                        </a>
                        <p>
                            Form collection app used by IDH in their farmer's research since 2018, started with the 2018 Cassava research.
                            <br />
                            ODK Collect is an open source data collection app. I extended it to provide additional features including editing sent forms and generating IDs based on specified parameters.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 research">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>ODK Collect</h4>
                        </a>
                        <p>
                            Form collection app used by IITA on their research sponsored by USAID.
                            <br />
                            ODK Collect is an open source data collection app. I extended it to provide additional features including editing sent forms and generating IDs from given parameters.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 game">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>Orien</h4>
                        </a>
                        <p>
                            My first game on the Google Play Store, ad-free, free to play and open source.
                            <br />
                            <a href="https://play.google.com/store/apps/details?id=com.staa.games.orien">Download and enjoy Orien for free</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 education">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>ePin Mart Verifier</h4>
                        </a>
                        <p>
                            Result verification tool used to automate verification of O-level results. Over 50,000 results have been verified since 2018.
                            <br/>
                            <a href="mailto://support@epinmart.net">Contact support to request service</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="projects_item">
                    <img class="img-fluid"
                         src="../img/projects/projects-3.jpg"
                         alt="">
                    <div class="projects_text">
                        <a href="portfolio-details.html">
                            <h4>AMJN Chanda Portal</h4>
                        </a>
                        <p>
                            Online portal for the collection of taxes for Ahmadi Muslims. Has features including member dashboard, invoice management, notification system, payment integration and more
                            <br/>
                            It's an internally used system by the Ahmadiyya Muslim Community, Nigeria.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>