<section class="feature_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>My Services</h2>
            <p>If you need a web or mobile application developer to join your team or develop an application for your small business, you just got one.</p>
        </div>
        <div class="feature_inner row">
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-code"></i>
                    <h4>Code</h4>
                    <p>If you're looking to have a young developer join your team, look no further. I have a wealth of skills and experience to help me learn your development environments and practices in no time.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-lightbulb-o"></i>
                    <h4>Custom apps</h4>
                    <p>
                        You have an idea for a web or mobile application?
                        <br />
                        I've got you covered. I'll help you get your app to production.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-shopping-cart"></i>
                    <h4>e-Commerce Sites</h4>
                    <p>Reach a larger market by taking your store online. I can create your online stores and provide a seamless integration with your business workflows.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-cog"></i>
                    <h4>Document Generation Tools</h4>
                    <p>If your business requires provision of documents such as letters and MOUs that follow a pattern, then you don't need to do that by hand anymore. Automate the document generation!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-android"></i>
                    <h4>Add features to your apps</h4>
                    <p>You have the code for an app that you use, the license to modify such app and you need a developer to add features to the app, just <a href="../contact.html">contact me!</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature_item">
                    <i class="fa fa-bug"></i>
                    <h4>Fix bugs in your code</h4>
                    <p>Your team is busy working on something and a customer reports a high priority bug, they don't need to stop what they're doing. Just <a href="../contact.html">contact me!</a></p>
                </div>
            </div>
        </div>
    </div>
</section>