<section class="testimonials_area p_120">
    <div class="container">
        <div class="main_title">
            <h2>Testimonials</h2>
            <p>This is what my previous clients said about my work.</p>
        </div>
        <div class="testi_inner">
            <div class="testi_slider owl-carousel">
                <div class="item">
                    <div class="testi_item">
                        <p>The app worked perfectly</p>
                        <h4>Moses, CEO TLS</h4>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="testi_item">
                        <p>Great experience. I had a few issues, but they were resolved in no time.</p>
                        <h4>Umunne Onyeka, CEO Connect Network Services</h4>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-star-half-o"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>